@keyframes gradient {
  from { background-position-x: 0%; }
  to { background-position-x: 400%; }
}

.highlight {
  background: linear-gradient(
    45deg,
    rgb(20, 30, 150) 0%,
    rgb(30, 70, 200) 25%,
    rgb(60, 120, 255) 50%,
    rgb(30, 70, 200) 75%,
    rgb(20, 30, 150) 100%
  );
  background-size: 400% 100%;
  animation: gradient 10s linear infinite alternate;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}